/* general set-up*/
body{
    background-color: #D3D3D3;
    font-size: 1.2em;
}

h1{
    color: yellow;
    text-align: center;
    font-family: Comic Sans MS, cursive;
    font-size: 2.5em;
}

h4{
    color: green;
    text-align: center;
    font-family: Comic Sans MS, cursive;
    font-size: 1.5em;
}


/*first part*/
#firstp{
  color: black;
    text-align: center;
    font-family: Comic Sans MS, cursive;
    font-size: 2em;
  
}

/*other info*/
#myaccount{
  color: black;
    text-align: center;
    font-family: Comic Sans MS, cursive;
    font-size: 1em;
  
}


